<p>
	cpcmss works!
</p>

<div class="ui stackable four column grid">
	<div class="column ui top attached label fz1dot6em click-out-range" (clickOutside)="onClickedOutside($event)">
		click outside to see alert
	</div>
	<div class="column">
		<app-angu-rating></app-angu-rating>
	</div>
	<div class="column">
		<app-agcookie-slider></app-agcookie-slider>
	</div>
	<div class="column">
		<pre>Today is: {{dateNow}}</pre>
		<pre>7 day later is: {{date7After}}</pre>
	</div>
</div>

<!-- <div class="ui stackable four column grid">
	<div class="column">

	</div>
	<div class="column"></div>
	<div class="column"></div>
	<div class="column"></div>
</div> -->

<div class="ui divider hidden"></div>
<div class="ui divider hidden"></div>
