<p>
	Lcefhe-main
</p>
<div class="ui stackable three column grid">
	<div class="column">
		<p class="fz2em">
			When do lazy load, you meet any problem about -- ContextElementDependency, the reason is webpack version has conflect with
			@angular-cli webpack version. Solve: uninstall webpack and @angular-cli and npm prune, then npm i -D @angular-cli
		</p>
		<b>
			To see result check app-routing.module.ts and feature module route like (fgpitpm-route.module.ts) --> and should remove the
			module you inject into app.module.ts -- It is great. But
			<b class="fz2em">core module and init-page module and No-Found Module</b> still has to inject into app.module.ts
		</b>
	</div>
	<div class="column">
		<app-custom-define-path>
		</app-custom-define-path>
	</div>
	<div class="column">
		<app-form-more>
		</app-form-more>
	</div>
</div>

<div class="ui divider hidden"></div>
<div class="ui divider hidden"></div>
